venv
venv-emulator
**/__pycache__/
TraceEmulator
.pyarmor_capsule.zip
pyarmor-regfile-1.zip
build
running
database.db
wxs_scripts/build
wxs_scripts/dist
.env
Traces
@ Script
logfile.log
delete_content.sh
wxs_scripts