{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-8">Dispositivos</h3>

    <table class="table table-striped table-hover" id="device-table">
        <thead>
            <tr>
              <th scope="col" class="text-center">
                <input type="checkbox" id="select-all" />
              </th>
              <th scope="col" class="text-center">LocalControllerID</th>
              <th scope="col" class="text-center">Nome</th>
              <th scope="col" class="text-center">Port</th>
              <th scope="col" class="text-center">Event Interval (s)</th>
              <th scope="col" class="text-center">Commands</th>
              <th scope="col" class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for dev in devices %}
              <tr>
                <td class="text-center">
                  <input type="checkbox" class="device-checkbox" />
                </td>
                <td class="text-center">{{ dev.lc_id }}</td>
                <td class="text-center">{{ dev.name }}</td>
                <td class="text-center">{{ dev.port }}</td>
                <td class="text-center">{{ dev.interval }}</td>
                <td class="text-center">
                  <a href="#" class="btn btn-outline-success btn-sm {% if dev.status == 'running' %}btn-custom-disabled{% endif %}">
                    <i class="bi bi-play-fill"></i>
                  </a>
                  <a href="#" class="btn btn-outline-danger btn-sm {% if dev.status == 'stopped' %}btn-custom-disabled{% endif %}">
                    <i class="bi bi-pause-fill"></i>
                  </a>
                </td>
                
                {% if dev.status == 'running' %}
                <td class="text-center">
                  <span class="border border-success" style="padding: 5px; border-radius: 5px; color: #117529;">{{ dev.status }}</span>
                </td>
                {% else %}
                <td class="text-center">
                  <span class="border border-danger" style="padding: 5px; border-radius: 5px; color: #a70000;">{{ dev.status }}</span>
                </td>
                {% endif %}
                
              </tr>
            {% endfor %}
          </tbody>
    </table>

</div>

<!-- Script to handle checkbox selection -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const selectAllCheckbox = document.getElementById('select-all');
    const deviceCheckboxes = document.querySelectorAll('.device-checkbox');

    function setAllCheckboxes(checked) {
      deviceCheckboxes.forEach(checkbox => {
        checkbox.checked = checked;
      });
    }
    
    selectAllCheckbox.addEventListener('change', (event) => {
      setAllCheckboxes(event.target.checked);
    });

    deviceCheckboxes.forEach(checkbox => {
      checkbox.addEventListener('change', () => {
        const allChecked = Array.from(deviceCheckboxes).every(checkbox => checkbox.checked);
        selectAllCheckbox.checked = allChecked;
      });
    });
  });
</script>

<style>
  .btn-custom-disabled {
    background-color: #d3d3d3; /* Cinza claro */
    border-color: #d3d3d3; /* Cinza claro */
    color: #a9a9a9; /* Cinza escuro para o texto */
    cursor: not-allowed;
  }

  .btn-custom-disabled i {
    color: #a9a9a9; /* Cinza escuro para o ícone */
  }

  .btn-custom-disabled:hover {
    background-color: #d3d3d3; /* Mantém a cor cinza claro ao passar o mouse */
    border-color: #d3d3d3; /* Mantém a cor cinza claro ao passar o mouse */
  }
</style>

{% endblock %}
